  <ion-view view-title="Add Business">
    <ion-content class="start-background">
        <div class="padding" style="text-align: left; padding-top: 60%;">
              <div class="list list-inset">
                    <label class="item item-input">
                      <span class="input-label" >Name: </span>
                      <input type="text" name="businessname">
                    </label>
                    <label class="item item-input">
                      <span class="input-label">Business Description: </span>
                      <input type="text" name="description">
                    </label>
              </div>
              <form action="/your-server-side-code" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_IpCLUHZdjnKcmeERHjueQUbh"
                    data-amount="999"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                  </script>
                </form>
          <!--<button type="submit" class="button button-block button-positive">-->
          <!--<i ng-show="loading" class="ion-loading-b"> Add Business</i>-->
          <!--</button>-->

        </div>

    </ion-content>
  </ion-view>

