<body class="start-background">
<form >
  <ion-view view-title="Add Business">
    <ion-content class="start-background">
        <div class="padding" style="text-align: left; padding-top: 60%;">
              <div class="list list-inset">
                    <label class="item item-input">
                      <span class="input-label" >Name: </span>
                      <input type="text" name="businessname">
                    </label>
                    <label class="item item-input">
                      <span class="input-label">Business Description: </span>
                      <input type="text" name="description">
                    </label>
              </div>
<div class="stripe-button-container">
  <script src="https://checkout.stripe.com/checkout.js"
 class="stripe-button active" data-key="pk_test_lpCLUHZdjnkcmeERHjueQUbh" data-amount="1599" data-name="Demo Site" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto" data-notrack="">
  </script><button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Pay with Card</span></button>

  </div>
              </form>
          <!--<button type="submit" class="button button-block button-positive">-->
          <!--<i ng-show="loading" class="ion-loading-b"> Add Business</i>-->
          <!--</button>-->

        </div>

    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
</body>

