<body class="start-background">
<form ua-login>
  <ion-view title="Trip Stop">
    <ion-content class="start-background">
      <div class="padding" style="text-align: center; padding-top: 5%;">
        <div class="card">
          <div class="item item-text-wrap">
            <img class="image" src="img/moad.jpg" alt="" />


          </div>
        </div>
      </div>
      <div>
        <a class="item item-thumbnail-left" href="#">
          <img class="image" src="img/moad.jpg" alt="" />
          <h2>Museum of the African Dispora</h2>
          <p>685 Mission St San Francisco, CA 94105</p>
        </a>
      </div>
      <div>
        <a class="item item-thumbnail-left" href="#">
          <img class="image" src="img/mlk.jpg" alt="" />
          <h2>Dr. Martin Luther King Jr. Memorial</h2>
          <p>750 Howard St San Francisco, CA 94103</p>
        </a>
      </div>
      <div>
        <a class="item item-thumbnail-left" href="#">
          <img class="image" src="img/coltrane.jpg" alt="" />
          <h2>Saint John Coltraine African American Church</h2>
          <p>1286 Fillmore St San Francisco, CA 94115</p>
        </a>
      </div>


    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
</body>
