<body class="start-background">
<form ua-login>
  <ion-view title="Trip Stop">
    <ion-content class="start-background">
      <div class="padding" style="text-align: center; padding-top: 5%;">
        <div class="card">
          <div class="item item-text-wrap">
            <img class="header-img" src="img/moad.jpg" alt="" />
            <div class="row gray"><p>MUSEUM OF THE AFRICAN DISPORA</p></div>

          </div>
        </div>
      </div>



    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
</body>
