<body class="start-background">
<form ua-login>
  <ion-view title="Let's Go Black">
    <ion-content class="start-background">
      <div class="padding" style="text-align: center; padding-top: 100px;">
        <img src="../img/logo.png" style="width:304px;height:148px;">

        <p>Where culture meets adventure, <br> one road trip at a time.</p>
        <br><br>


        <button class="button button-assertive">
          LOGIN
        </button>
        <button class="button button-assertive">
          SIGN UP
        </button>
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
</body>
