/* Empty. Add your own CSS if you like bllong@aggies.ncat.edu */


.start-background {
    background-image: url("../img/homescreenbackground.jpg");
    background-size: cover;
    background-color: #384729;
    background-repeat: no-repeat;

}
