/* Empty. Add your own CSS if you like bllong@aggies.ncat.edu */


.start-background {
    background-image: url("../img/homescreenbackground.jpg");
    background-size: cover;
    background-color: #384729;
    background-repeat: no-repeat;

}

.login-background {
    background-image: url("../img/loginbackground.jpg");
    background-size: cover;
    background-color: #384729;
    background-repeat: no-repeat;

}

label { 
color: #B4886B;
 padding: padding-center;
 font-weight: bold; 
width: 350px; 
float: left;
}

.btn{
     margin: 20px;
     width:118px;
     height:27px;
}
